/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/* normalize css ends here */

html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: #222;
}

.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.article {
  text-decoration: none;
}

.article-header {
  display: inline-block;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}